body{
  position: relative;
}
img{
	max-width:100%
}
a{
	text-decoration:none !important;
  font-family: thoma
	outline:none !important
}
#pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 9999;
  height: 100%;
  height: 100%;
}
#pre-loader h2{
	text-align:center;
	position:relative;
	top:50%;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	font-size:40px;
	color:#2CBADC
	
}

.pre-loader-icon {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 48%;
  top: 55%;
  background: url(images/load.GIF) no-repeat center center;
  margin: -170px 0 0 -100px;
  overflow:hidden
}
.navbar{
	margin:0;
	border:none;
	padding:10px 0;
	background-color:rgba(0,0,0,0.7)
}
.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent;
  color:#29B8D6;
  outline:none
}
.navbar-nav > li > a {
  color: #F5F5F3;
  text-transform: uppercase;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
}
.navbar-nav .active a{
  color:#29B8D6;
}
.navbar-toggle{
	background-color:#28B8D8;
	border-radius:0;
	
}
.navbar-toggle .icon-bar{
	border-radius:0;
	background-color:#fff
}

#banner {
  position:relative;
}
.banner-overlay{
	position:absolute;
	left:0;
	right:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.30)
}
.carousel-inner .item{
	padding:13em 0;
	text-align:center
}
.item{
	color:#fff
}
.item h1 {
  font-size: 50pt;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
.item h2 {
  font-size: 40pt;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
}
.item p{
	font-size:14pt;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

#service{
	padding:4em 0;
	background-color:#F9F9F9
}
.section-title {
  padding-bottom: 4em;
  text-align: center;
  
}
.section-title h2{
	font-family: 'Roboto Slab', serif;
	font-weight:300
}
.section-title p{
	font-family: 'Roboto', sans-serif;
	font-weight:400
}
.section-subtitle {
  display: table;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto 25px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight:700
}
.section-subtitle:before {
  border-top: 4px double #d9d9d9;
  content: "";
  display: block;
  left: 105%;
  position: absolute;
  top: 32%;
  width: 106px;
}
.section-subtitle:after {
  border-top: 4px double #d9d9d9;
  content: "";
  display: block;
  position: absolute;
  right:105%;
  top: 32%;
  width: 106px;
}
.service{
	padding:15px;
	border:1px solid #E3E3E3;
	background-color:#fff;
	text-align:center;
	margin-bottom:15px;
  

}
.service h2 {
  font-size: 20px;
  color:#434343;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}
.service p{
	color:#797979;
	font-family: 'Roboto', sans-serif;
    font-weight:400
}
.service-image{
	position:relative;
	overflow:hidden;
  
}
.service-image img{
  transition:1s;
}
.service-image:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transform:rotateY(90deg) scale(0.5);
  -webkit-transform:rotateY(90deg) scale(0.5);
  -moz-transform:rotateY(90deg) scale(0.5);
  background-color:rgba(40,184,216,0.7);
  transition:0.7s;
  -moz-transition:0.7s;
  -webkit-transition:0.7s;
  z-index: 1
}

.service:hover .service-image:before{
  transform:rotateY(0) ;
  -webkit-transform:rotateY(0) scale(1);
	-moz-transform:rotateY(0) scale(1);
}
.service:hover .service-image img{
  transform:scale3D(1.2,1.2,1);
  -webkit-transform:scale3D(1.2,1.2,1);
  -moz-transform:scale3D(1.2,1.2,1);
}
.live-link {
  left:0;
  position: absolute;
  top: 0;
  height:100%;
  width:100%
}
.live-link a{
  background-color: #fff;
  text-transform: uppercase;
  color: #28B8D8;
  padding: 8px 15px;
  display: inline-block;
  font-weight: bold;
  position:relative;
  top:300%;
  z-index:333;
  font-family: 'Roboto', sans-serif;
  transition:0.4s;
  -webkit-transition:0.4s;
}
.live-link a:hover{
  background-color: #28B8D8;
  color: #fff;
}

.live-link a:after {
  border-bottom: 37px solid transparent;
  border-left: 16px solid #fff;
  border-top: 0 solid transparent;
  content: "";
  display: block;
  left: 100%;
  position: absolute;
  top: 0;
}
.live-link a::before {
  border-right: 17px solid #fff;
  border-top: 36px solid transparent;
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  top: 0;
}
.service:hover .live-link a{
	top:42%;
}

#photo-gallery{
	padding:4em 0;
	background-color:#2C2C2C;
}
#photo-gallery .section-subtitle{
	color:#D4D4D4
}
#photos .item{
  margin: 5px;
}
#photos .item img{
  display: block;
  width: 100%;
  height: auto;
}
.item_caption{
	position:relative;
	overflow:hidden
}
.item_caption_content{
	position:absolute;left:0;top:0;
	background-color:rgba(40,184,216,0.8);
	height:100%;
	width:100%;
	z-index:9999;
	transform: scale(0.4) rotateX(180deg);
	transition:0.7s;
	-webkit-transition:0.7s;
	text-align:center;
	opacity:0;
}
.item_caption_content a {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  padding: 14px 19px;
  position: relative;
  top: 38%;
  transition:0.7s;
  -webkit-transition:0.7s;
}
.item_caption_content a:hover{
	background-color:#fff;
	color:#28B8D8
}
.item_caption:hover .item_caption_content{
	transform: scale(1) rotateX(0);
	-webkit-transform: scale(1) rotateX(0);
	opacity:1
}
#photo-gallery .container{
	text-align:center;
}
.instagram-button{
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  margin-top:30px;
  text-transform:uppercase;
  transition:0.7s;
  -webkit-transition:0.7s;
  overflow:hidden;
  position:relative;
  z-index:222;
  background-color:#FE7461;
  font-family: 'Roboto', sans-serif;
  font-weight:400

}
.instagram-button::after {
  background-color:#28B8D8;
  content: "";
  height: 101%;
  position: absolute;
  right: 0;
  top: -50%;
  transform: skewX(57deg);
  width: 100%;
  z-index: -1;
  transition:0.7s;
  -webkit-transition:0.7s;
}
.instagram-button::before {
  background-color:#28B8D8;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  bottom: -49%;
  transform: skewX(-57deg);
  width: 100%;
  z-index: -1;
  transition:0.7s;
  -webkit-transition:0.7s;
}
.instagram-button:hover.instagram-button::before,.instagram-button:hover.instagram-button::after{
	right:-100%
	
}
.instagram-button:hover,.instagram-button:focus{
	color:#fff;
	outline:none
}
.instagram-button i{

}
#blog{
	padding:4em 0;
	background-color:#F9F9F9
}
.blog{
	background-color:#FFF;
	border:1px solid #E3E3E3;
	margin-bottom:15px;
  overflow: hidden;
}
.blog:hover.blog img{
  transform: scale3d(1.2, 1, 1);
}
.blog img {
  
  transition: all 0.7s ease 0s;
}
.blog-header,.blog-footer{
	padding:10px 10px;
}
.blog-header{
	text-align:center;
}
.blog-header h3 {
  color: #444444;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  font-family: 'Roboto Slab', serif;
  
}
.blog-header p, .blog-header p a {
  color: #999;
  display: inline-block;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
}
.blog-footer p {
  color: #999;
  padding: 5px 0;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
}
.con-reading{
	display:inline-block;
	text-transform:uppercase;
	border-bottom:2px solid #28B8D8;
	text-decoration:none !important;
	color:#9A9A9A;
	-webkit-transition:0.7s;
	transition:0.7s;
	font-size:13px
}
.con-reading:hover{
	color:#FE7461;
	border-color:#FE7461
}
.like{
	display:inline-block;
	float:right;
	color:#9F9F9F;
	-webkit-transition:0.7s;
	transition:0.7s;
}
.like:hover{
	color:#FE7461
}
.padding-top{
  padding-top: 3em;
}
.subtitle-two {
  display: table;
  font-size: 16px;
  font-weight: 300;
  margin: 15px 0 25px;
  position: relative;
  text-transform: uppercase;
  color:#444444;
  font-family: 'Myriad Pro', sans-serif;
}
.subtitle-two::after {
  border-top: 4px double #d9d9d9;
  content: "";
  display: block;
  left: 110%;
  position: absolute;
  top: 32%;
  width: 110px;
}
.about-me .col-md-4{
  padding-left: 0;
}
.about-me h2 {
  color: #666666;
  font-family: "Roboto Slab",serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 10px;
}

.about-me p {
  color: #676767;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
}

.services-icon{
  width:70px;
  float: left;
}
.services-icon i {
  color: #28b7d7;
  font-size: 42px;
}
.services-content{
  overflow: hidden;
}
.services-content h2 {
  font-size: 21px;
  margin: 0 0 5px;
  color: #444444;
  font-family: 'Roboto Slab', serif;
  font-weight:700;
}
.services-content p{
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
}
.padding-top .col-md-6 .col-md-12{
  padding: 0
}
#footer_area{
  padding: 3em 0;
  background-color: #373737;
}
.footer_area h4{
  color: #F0F0F0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  
}
.footer_area ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer_area ul li {
  color: #cacaca;
  font-size: 13px;
  line-height: 22px;
  padding: 8px 0;
 font-family: 'Roboto', sans-serif;
  font-weight:400;
}
.footer_area ul li a{
  display: inline-block;
  color: #CACACA;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.footer_area ul li a:hover{
  color: #28B8D8
}
.footer_area ul li span{
  color: #7B7B7B
}
.footer_area ul li i {
  float: left;
  font-size: 17px;
  margin-right: 10px;
  margin-top: 3px;
}
.footer_area ul li p {
  margin: 0;
  overflow: hidden;
}
#footer{
  padding: 2em 0;
  background-color: #333333;
}
#footer p{
  margin: 0;
  color: #cacaca;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  
}
.social-icon{
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.social-icon li{
  display: inline-block;
}
.social-icon li a {
  color: #cacaca;
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 0 5px;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.social-icon li a:hover{
  color: #B9E9FF
}
.to-top{
  position: fixed;
  right:20px;
  bottom: 20px;
  display: none
}
.to-top a {
  background-color:#F2BA6A;
  color: #fff;
  display: inline-block;
  font-size: 35px;
  padding: 0 16px;
  transition:0.7s;
  border:1px solid transparent;
}
.to-top a:hover{
  background-color: #fff;
  color:#28b8d8;
  border-color:#28b8d8;
}
div.light_square .pp_left, div.light_square .pp_middle, div.light_square .pp_right, div.light_square .pp_content {
  background: #28B8D8 none repeat scroll 0 0;
}
.pp_description{
	color:#fff;
}
.pp_nav{
	color:#fff !important
}

@media (max-width:767px) {
	.subtitle-two:after,.section-subtitle:after,.section-subtitle:before{
		display: none;
	}
	.social-icon{
		text-align: center;
		float: unset;
	}
	#footer p{
		text-align:center;
		padding-bottom:15px 
	}
	.about-me .col-sm-9{
		padding:0
	}
	.to-top a{
		padding: 2px 13px;
		font-size: 25px;
	}
	
}